*{
    margin-left: 1px;
    padding: 0;
    box-sizing: border-box;
}

body {
   margin: 0; 
  padding: 0; 
  background-image: url('https://2.bp.blogspot.com/-XjvNDQ_kO2Q/UbXH36QaQFI/AAAAAAAAZwA/rGsPzSTl5S4/s1600/paisajes-abstractos-hd.JPEG'); 
  background-size: cover;
      
}